
.row-navigation {
padding-left: 5em;
background-image: url("../images/content/navigation-bar.png");
background-repeat: repeat-x;
min-height: 140px;
margin-bottom: -1em;
}


.navigation-icons{
  margin-top: 1.2em;
  margin-left: 16em;
}

.mini-header {
  background-image: url("../images/mini/miniheader.png");
  background-repeat: repeat-x;
  min-height: 45px;

}

.mini-of-raleigh{
  color: #FFF;
  float: right;
  font-weight: 600;
  margin-top:7px;
  margin-right: 2em;
}

.topmenu-icon-question{
  float:right;
}

.topmenu-icon-setting{
  float:right;
}

.row-announcements{
  border-bottom: solid 2px;
  border-top: solid 2px;
  border-color: #cccccc;

}

.announcements-text{
  color: #ff6600;
  font-weight: 600;
  text align: center;
  padding-left: 7px;
  border-right: solid 2px;
  border-color: #cccccc;
  padding-top:.8em;

}

.announcement-text-area{
  color: #cccccc;
  padding-top:.5px;
}

.announcements-button-left{
  width:22%;
  margin-button:3px;
  border-left: solid 2px;
  border-color:#cccccc;

}

.row-dashboard {
  border-radius: 5px;
  background-color: #33cc66;
  padding: 5px;
  height: 5em;
  margin-bottom: 3em;

}

.dashboard-text{
  color: #FFF;
  font-size: 2.5em;
  font-style: myriad pro;
}

.searchbar{
  left: 25em;
  height:36px;
  width:60%;
  float:right;
  background-color: #FFF;
  border: solid 1px #CCC;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top:5px;

}

.btn-default{
  background-color: #FFF;
  border-color: #CCC;
  border-top-color: #CCC;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  border-left-color: #CCC;
  }

  .btn{
    display:inline-block;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;

  }

.announcements-line{
  float: right;
  vertical-align:middle;
}


.side-titles{
  font-size: 2.5em;
  font-family: myriad pro; sans-serif;
  color: #3399ff;
  margin-bottom: .5em;
  margin-top:.5em;
}

.tasks-main-text{
  font-size: 1.5em;
  color:#3399ff;
  margin-left: 10px;
  margin-bottom: 0px !important;
}

.tasks-settings-icon{
  float:right;
  display: inline-block;
}

.tasks-human-icon-text{
  float: right;
/*  display: inline;
  position: absolute;
  padding-top:.2em;
  padding-left:24em; */
  font-size: .7em;
}

a:link{
  color: #cccccc;
  text-decoration: none;
}

a:visited{
  color:#cccccc;
  text-decoration: none;
}

a:hover{
  color: #cccccc;
  text-decoration: none;
}


.human-icon {
float: right;
display: inline;
/*margin-right:87px;*/
bottom: 2.2em;
border: solid 1px;
padding: 5px;
}

.numbercircle{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  float: left;

  background: #33cc66;
  border: 2px solid #33cc66;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5em;

  font: 18px myriad pro, sans-serif;
}

.recommendations{
  font-family: myriad pro; sans-serif;
  color: #3399ff
}


.recommendations-icon{
  align: right;
  float: left;
  display: inline-block;
  bottom: 50px
}

.recommendations-text{
  display:inline-block;
}

.recommendations-main-text{
  font-size: 1em;
  color:#666666;
  margin-top:.3em;
  margin-left:3em;
  line-height: 90%;
}

.recommendations-subtext{
  font-size: .5em;
  margin-top: .2em;
  margin-bottom: -.7em;
  margin-left:6em;
  color: #999999
}

#analytics-dropdown{
  float: right;

}

.analytics-main-header{
  color: #3399ff;
  font-size: 2.5em;
  padding-right:
}

.analytics-activity{
  color:#999999;
}

.analytics-contact-box{
  background-color:#3399ff;
  height: 50px;
  width: 208px;
  margin-top: 40px;
  margin-right:0px;
  margin-bottom:-3px;
  margin-left: 0px;
  position: relative;
}

.analytics-checkbox{
  text-align: center;
  display: inline-block;
}

.analytics-ribbon-left{
position: absolute;
display:inline-block;
margin-bottom: 15em;
margin-left: 3.4em;
margin-top: 3.2em;
}

.analytics-ribbon-right{
  position: absolute;
  display:inline-block;
  top:3.23em;
  left: 15.9em;
}

.analytics-ribbon-left-customer{


}

.green-graph{
  border:solid 1px;
  margin-left: .45em;
}

.orange-graph{
  margin-left: .45em;
  bottom: 1em;
}

.row-contacts{
  margin-top:4em;
}

.analytics-social-media{
  margin-right: 10em;
}

.analytics-main-graph{

}

.pie-graph-headers{
  text-align: left;
  line-height:70%;
  margin-top:1em;
  color: #999999
}

.analytics-customer-image{
  position: absolute;
  left: 80px;
  bottom: 131px;
  display: inline-block;
  bottom: 167px;

}

.analytics-contact-image{
  position: absolute;
  left: 80px;
  bottom: 128px;
  display: inline-block;
}

.contact-text{
  color:#FFF;
  font-size:1.5em;
  text-align:center;
  font-style: myriad pro;
}


.contact-subtext{
  color: #FFF;
  font-size: 0.8em;
  line-height: 0;
  padding-top:0px;
  text-align: center;
  font-style: myriad pro;
}


.customer-text{
  color:#FFF;
  font-size:1.5em;
  text-align:center;
  font-style: myriad pro;
}

.customer-subtext{
  color: #FFF;
  font-size: 0.8em;
  line-height: 0;
  text-align: center;
}

.analytics-customer-box{
  background-color:#3399ff;
  height: 50px;
  width: 208px;
  margin-top: 40px;
  margin-right:0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: relative;
  bottom:2.8em;
}

.left-arrow{
  margin-right:5em;
  padding-right: 10em;
  position:absolute;
  left: 2em;
  padding-left: 5px;
  margin-left: -2.35em;
  bottom: 2em;
}

.right-arrow{
  position: absolute;
  right:0;
  bottom: 25px;

}

.info-box{
  margin-top:1.3em;
  position:relative;
  min-height: 140px;
  min-width: 560px;
  border-radius: 5px solid;
  background-color: #3399ff;

}

.ad-box{
  align: center;
  margin-top:1.8em;
  margin-bottom: 3em;
  background-color: #3399ff;
  position:relative;
}

.footer-1-text-left{
  padding-right: 17px;

}
.footer-1-text-middle{
  border-right: solid 1px;
  border-left: solid 1px;
  padding-left: 24px;
  padding-right: 21px;
}

.footer-1-text-right{
  padding-left: 17px;
}

.footer-2-text{
  float:left;
  border-left: solid 1px;
  padding-left: 1em;
  padding-right: 10px;
}

.footer-car-image{

}


.footer-3-text{
  font-weight: 800;
  color: #3399ff;

}


.footer-text-bold{
  font-weight: 800;
  color: #3399ff;
}



.footer-arrow{
  padding-bottom:
}

.left-ad{
  margin-top:5.5px;
  width: 100%;
}

.middle-ad{
  width: 100%;
}

.right-ad{
  width: 100%;
}

.footer-1-text{
  display: inline;
}

.footer-2-text-block{
  display: inline;
}

.footer-3-text{
  display: inline;
}

.footer-4-block{
  display: inline;
  align: center;
}

.footer-background {
  background-image: url("../images/content/footer-background.png");
  background-repeat: repeat-x;
  height: 25px;
}



.*{
  font-family: Myriad Pro;
}
